.App {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
}

h1 {
	margin: 0.75rem 0;
	font-size: 1.5rem;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.sections {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.25rem;
	width: 400px;
	max-width: 100%;
}

section {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	align-items: center;
}

label {
	display: flex;
	justify-content: center;
	gap: 0.25rem;
}

input {
	width: 4rem;
}

.results {
	border: 1px solid black;
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
	box-sizing: border-box;
	margin-top: 0.5rem;
}

p {
	margin: 0;
	font-size: 0.9rem;
}