* {
	margin: 0;
	padding: 0;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin-top: 2rem;
	font-family: Arial, Helvetica, sans-serif;
}

.App section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.App .item {
	display: grid;
	grid-template-columns: 6rem 10rem 2rem;
	align-items: center;
	gap: 1rem;
	text-align: right;
}

.CircularPB {
	font-size: 2rem;
	font-weight: bold;
	width: 200px;
	height: 200px;
}